<div class="container">
  <div class="row">
    <div class="col-12">
    <label for="">
    {{ 'HOME.SELECT' | translate }}
    <select #langSelect (change)="changeLang(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</option>
    </select>
    </label>
    </div>
    <div class="col-sm-12">
    <!-- <h2>{{ 'HOME.' | translate }}</h2> -->
    <h2 [translate]="'TITLE'"></h2>

    </div>
    <div class="col-sm-12">
    <p>{{ 'HOME.TEXT-0' | translate }}</p>
    <p>{{ 'HOME.TEXT-1' | translate }}</p>
    <p>{{ 'HOME.TEXT-2' | translate }}</p>
    </div>
  </div>
</div>
